@page "/eliminarRes/{id:int}"

<h3>Eliminar Restaurante</h3>

@using SiberianTestFront.Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager navigationManager

<p>¿Deseas eliminar este elemento?</p>
<a @onclick="Eliminar" class="btn btn-danger">Eliminar</a>
<a href="/restaurantes" class="btn btn-warning">Cancelar</a>

@code {
    [Parameter]
    public int id { get; set; }

    private async Task Eliminar()
    {
        if (id != 0)
        {
            var result = await Http.DeleteAsync("/api/restaurante/delete/" + id);
        }


        navigationManager.NavigateTo("/restaurantes");
    }
}
